<%-include('partials/header')-%>
    <div class="weather">
        <h1>
            <h2>NEW DELHI</h2>
            Temprature: <%= temp%> celcius

        </h1>
        <h2>
            nature:<%=nature%>
        </h2>
    </div>
    <%-include('partials/footer')-%>
